@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
    padding: 7px 15px;
}
.button:hover{
    opacity: .8;
}

.landingPage{
    background-image: url("/public//images//showcase.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sticky {
position: sticky;
top: 0;
z-index: 50;
opacity: 9;
background-color: #131313;
color: #fff;
}
.button {
background: gray;
color: #fff;
}
.black-post {
display: flex;
align-items: center;
overflow: hidden;
margin-top: 15px;
border-radius: 15px;
border: 2px solid #000;
}
.post-span {
align-items: center;
display: flex;
flex-direction: column;
width: 25px 25px;
}
.post-h2 {
font-weight: bold;
text-align: center;
margin-top: 10px;
text-indent: 12px;
}
.clown {
display: flex;
align-items: center;
gap: 3rem;
}
.post-leave {
display: block;
padding: 10px;
font-weight: bold;
background: #12bdd3;
color: #fff;
border-radius: 10px;
}
.post-textarea {
border: 2px solid #000;
border-color: #222121;
padding: 10px;
border-radius: 14px;
margin-bottom: 15px;
}
.buttonSubmit {
background-color: #12bdd3;
color: #fff;
}
.post_comentariya {
display: flex;
align-items: center;
gap: 14px;
padding: 14px;
margin-top: 10px;
border-radius: 15px;
border: 1.5px solid #000;
background: #222111;
}
.post_com_id {
display: flex;
flex-direction:column;
align-items:center;
width: 35px;
}
.profile_img {
border-radius:25px;
width: 45px;
padding:10px;
}
.comentariya_user {
text-align: center;
font-weight: 700;
background-color: #12bdd3;
margin-top: 14px;
}
.comentariya_end {
text-align: center;
margin-bottom: 14px;
color:gray;
}
.comentariya_the_end {
opacity:5;
padding-bottom: 12px;
font-size: 18px;
font-weight: 600;
}
.dashboard_start {
color: #12bdd3;
font-weight: 700;
}
.dash_id {
padding: 15px;
text-align: center;
font-weight: 600;
font-size: 20px;
}
.dash_exper {
padding: 25px;
text-align:left;
font-weight: 800;
font-size: 25px;
}
.table {
width: 45px;
height: auto;
}
.key_dash {
padding: 18px;
display: flex;
}